<!-- To use or not to use that is the question -->

<style>
    body {
        background-image: url('https://usatftw.files.wordpress.com/2017/05/spongebob.jpg?w=1000&h=600&crop=1');
        height: 100%
    }

    h1 {
        margin-top: 20%;
        font-family: Georgia;
        font-size: 6em;
    }

    button {
        font-weight: bolder;
        height: 20%;
        width: 40%;
        border-radius: 20px;
        border: solid 10px;
        border-color: rgb(53, 38, 19);
        background-color: rgb(76, 211, 42);
        color: rgb(213, 216, 25);
        font-size: 3em;
        padding: 20px;

    }

    button:hover {
        /* border-color: rgb(76, 211, 42); */
        background-color: rgb(213, 216, 25);
        color: rgb(76, 211, 42);
        cursor: pointer;
    }
</style>

<body>
    <center>
        <h1>4o4 nOt fOuNd</h1>
        <br>
        <button onclick="goBack()">gO bACk</button>
    </center>
</body>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<!-- Found go back button from w3 schools
https://www.w3schools.com/jsref/met_his_back.asp -->