<!-- templates/index.html -->
{%extends 'base.html'%}

<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->


{%block body%}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
    <form action = '/'>
        <p>
            Search 
            <input type='text' name='user_input' value="{{search_term}}"/>
        </p>
        <p>
            <input type="submit" value="Show gifs" />
        </p>
    </form>



<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
    {% for gif in gifs%}
        {%include 'gif.html'%}
    {%endfor%}
<!-- TODO: For each gif, include the 'gif.html' template to display it -->



{%endblock%}